.api{
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
}
.post{
    
    text-align: center;
    padding: 2px;
    border: 0.1rem solid black;
}