.container {
  
  //  border: 0.1rem solid black;
  text-align: center;
  width: 28%;
  object-fit: cover;
  .docimage {
    // border: 0.1rem solid black;
    background: #c3f8e5;
    width: 50%;
   
  }

  #d1 {
    color: rgb(93, 241, 241);
  }

  .medialink {
    display: flex;
    // justify-content: center;
    //  border: 0.1rem solid black;
    margin-left: 35%;
     width: 28%;
    .facebook {
      width: 20px;
      background: #f8eded62;
      // border: 0.1rem solid black;
      border-radius: 10px;
    }
    .google {
      width: 20px;
      background: #f8eded62;
      // border: 0.1rem solid black;
      border-radius: 10px;
    }
    .linkdin {
      width: 20px;
      background: #6e1a1a62;
      // border: 0.1rem solid black;
      border-radius: 10px;
    }
    .twitter {
      width: 20px;
      background: #f8eded62;
      // border: 0.1rem solid black;
      border-radius: 10px;
    }
  }
}
