.infoblock {
  margin: 4px;
  text-align: center;
  font-size: 12px;

  // border: 0.1rem solid black;
  border-radius: 8px;
  padding: 8px 5px;
  background: #fff;
  .doclogo2 {
    width: 50px;
  }

  .doclogo4 {
    width: 50px;
  }
  .doclogo5 {
    width: 50px;
  }
}
